.main-content {
  display: flex;
}

.main-left {
  background-color: red;
  flex: 1;
  height: 600px;
}

.main-middle {
  background-color: aqua;
  flex: 2;
}

.main-right {
  background-color: blue;
  flex: 1;
}
