.navbar {
  background-color: rgb(214, 192, 192);
}

.navbar .list-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar .list-item .item {
  padding: 16px 8px;
}

.navbar .list-item .item:hover {
  cursor: pointer;
  background-color: rgb(231, 235, 238);
}

.active {
  background-color: rgb(241, 244, 246);
}
